* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 187px 0 227px 0;  
}

#history-section{
  height: 193px;
  overflow: auto;  
  scrollbar-color: transparent transparent;
}
#history-section::-webkit-scrollbar{
  background-color: transparent;
}

#history-section ul{
  list-style-type: none;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#history-section ul li{
  font-size: 30px;
  color:#787474;
  margin-top:23px;
}

#elapsed-time-section{
  font-size: 60px;
  margin: 65px 0;
  text-align: center;
}

#buttons-section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:100px;
}


#buttons-section button{
  font-size: 28px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  cursor: pointer;
  transition: border-color 1s;
  transition: background-color 0.5s;
}
#buttons-section button:hover{
  color:#fff;
  border-color:#2525ff;
  background-color: #2525ff;
}

footer{
  position: fixed;
  left:0;
  right:0;
  bottom: 0;
  height: 51px;
  background-color: #696565;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a{
  color:#fff;
  text-decoration: none;
}

footer a:hover{
  text-decoration: underline;
}